<nav class="bg-red-500 p-4">
    <ul class="flex gap-10 items-center w-full">
        <li><a href="/" class="<%= currentPage === 'index' ? 'bg-red-400': 'hover:bg-red-400' %> text-white font-semibold transition duration-300"> Airbnb</a></li>

        <% if (isLoggedIn) { %>
            <li><a href="/homes" class="<%= currentPage === 'home' ? 'bg-red-400': 'hover:bg-red-400' %> text-white font-semibold transition duration-300"> Homes-List</a></li>

            <li><a href="/favourites" class="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold">Favourites</a></li>

            <li><a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold">Bookings</a></li>

            <li><a href="/host/host-home-list" class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold">Host Homes</a></li>

            <li><a href="/host/add-home" class="<%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold">Add Home</a></li>
        <% } %>
            
       <li class="ml-auto">
            <% if (!isLoggedIn) { %>
                <a href="/login" class="<%= currentPage === 'login' ? 'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold px-3 py-1 rounded">
                    Login
                </a>
            <% } else { %>
                <form action="/logout" method="POST">
                    <button 
                        type="submit"
                        class="'bg-red-400' : 'hover:bg-red-400' %> transition duration-300 text-white font-semibold px-3 py-1 rounded">
                        Logout
                    </button>
                </form>
            <% } %>
        </li>
        
    </ul>
</nav> 
